@charset "UTF-8";

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 0 2rem;
}

.cart-header button {
	padding: 8px 12px;
	outline: none;
	cursor: pointer;
	border-radius: 4px;
	border: none;
	background-color: whitesmoke;
	font-size: large;
}

.cart-header button:hover {	
    box-shadow: 0px 0px 5px 0px gray;
    transition: .3s;
}

.cart_heading{
	margin: 10px 0px;
}

.empty_cart{
	display: flex;
	align-items:center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	height: calc(100vh - 80px);
}

.empty_cart i{
	font-size: 5rem;
	border: 1px solid gray;
	border-radius: 50%;
	padding: 3rem;
}

.empty_cart a{
	text-decoration: none;
	color: black;
	font-size: 1.25rem;
}

.empty_cart a:hover{
	text-decoration: underline;
}

.cart_payment{
	margin-top: 1rem;
	display: flex;
	gap: 1rem;
	align-items: start;
	justify-content: space-evenly;
	padding: 0 1rem;
}

.cart_items{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 6rem;
	flex: 2;
}

.cart_item{
	padding: 0 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: .5rem;
	width: 80%;
	margin: 0 auto;
	height: 150px;
	border-radius: 4px;
	border-bottom: 1px solid rgb(179, 196, 196);
}

.cart_item:hover {
    transition: .3s ease-in-out;
    scale: 1.01;
    box-shadow: 0px 0px 15px 0px rgb(179, 196, 196);
}

.item_details{
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.item_name {
	display: flex;
	align-items:center;
	justify-content: start;		
	gap: .5rem;
}

.item_details i{
	border: 1px solid;
	padding: 2px;
	width: 1.4rem;
}

.item_img {
	position: relative;
}

.item_img img{
	width: 100px;
	height: 100px;
	border-radius: 8px;
}

.item_img .inc_dec{
	display: flex;
	width: 80px;
	height: 2rem;
	position: absolute;
	left: .7em;
	bottom: -.5rem;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	background-color: white;
	color: green;
	font-weight: bolder;
	border: 1px solid rgb(179, 196, 196);
}

.inc_dec button{
	border: none;
	color: green;
	font-weight: bolder;
	cursor: pointer;
	background-color: transparent;
}

.item_img .inc_dec:hover{
	background-color: rgb(226, 226, 226);
	transition: .2s;
}

.item_img i {
	padding: 1rem;
	font-size: larger;
}

.action_btn{
	font-size: 1.25rem;
}

.inc_dec button{
	padding: 2px;
	width: 20px;
	height:20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.counter-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.counter-controls button {
    padding: 5px 10px;
}

.counter {
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}

.payment_section{
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	flex: 1;
	padding: 1rem;	
	border: 1px solid rgb(179, 196, 196);
    box-shadow: 0px 0px 15px 0px rgb(179, 196, 196);
	border-radius: 4px;
	margin-top: 40px;
}

.payment_section button{
	outline: none;
	border: 1px solid red;
	background-color: red;
	color: white;
	padding: 8px 12px;
	border-radius: 4px;
	cursor: pointer;
}

.payment_section button:hover{
	background-color: rgb(247, 43, 43);
}

.amount {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.delete{
	position: absolute;
	bottom: 2rem;
	padding: .5rem;
	cursor: pointer;	
	color: black;
}

.delete:hover{
	color: rgb(254, 58, 58);
}

.choosePayment{
	display: flex;
	gap: 1rem;
	align-items: center;
}

.choosePayment select {
	padding: 4px 8px;
}

@media (max-width: 480px) {
	.cart_items{
		width: 100%;
	}
	
	.cart_item {
		width: 100%;
	}
	
	.item_name, .item_desc, .cart-header button {
		font-size: small;
	}
	.item_details i{
		padding: 1px;
		width: 1.1rem;
	}

	.cart_payment{
		flex-direction: column;
	}
	
	.payment_section{
		width: 100%
	}
}