@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	width: 100%;
	height: 300px;
	margin: 0 auto;
	margin-bottom: 2rem;
	position: relative;
	overflow: hidden;
}

.hide {
	display: none;
}

header img {
	width: 100%;
	height: 100%;
	transition: transform .3s ease-in-out;
}

header:hover img {
	transform: scale(1.1);
}

.rating_card {
	padding: 4px 8px;
	color: white;
	border-radius: 4px;
	height: 25px;
}

.red {
	background-color: red;
}

.orange {
	background-color: orange;
}

.green {
	background-color: green;
}

.overLayText {
	padding: 1rem;
	color: white;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 300px;
}

.top {
	display: flex;
	gap: 12px;
	align-items: center;
	animation: moveDown 1s ease-out forwards;
}

.bottom {
	display: flex;
	justify-content: space-between;
	animation: moveUp 1s ease-out forwards;
}

.menus {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 6rem;
}

.menu {
	padding: 0 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: .5rem;
	width: 80%;
	margin: 0 auto;
	height: 150px;
	border-radius: 4px;
	border-bottom: 1px solid rgb(179, 196, 196);
}

.menu:hover {
	transition: .3s ease-in-out;
	scale: 1.01;
	box-shadow: 0px 0px 15px 0px rgb(179, 196, 196);
}

.item_details {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.item_name {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: .5rem;
}

.item_details i {
	border: 1px solid;
	padding: 2px;
	width: 1.4rem;
}

.item_img {
	position: relative;
}

.item_img img {
	width: 100px;
	height: 100px;
	border-radius: 8px;
}

.item_img .inc_dec {
	display: flex;
	width: 80px;
	height: 2rem;
	position: absolute;
	left: .7em;
	bottom: -.5rem;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	background-color: white;
	color: green;
	font-weight: bolder;
	border: 1px solid rgb(179, 196, 196);
}

.inc_dec button {
	border: none;
	color: green;
	font-weight: bolder;
	cursor: pointer;
	background-color: transparent;
}

.item_img .inc_dec:hover {
	background-color: rgb(226, 226, 226);
	transition: .2s;
}

.action_btn {
	font-size: 1.25rem;
}

.inc_dec button {
	padding: 2px;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.counter-controls {
	display: flex;
	align-items: center;
	gap: 10px;
}

.counter-controls button {
	padding: 5px 10px;
}

.counter {
	font-weight: bold;
	min-width: 20px;
	text-align: center;
}

@
keyframes moveUp { 0% {
	transform: translateY(2rem);
	opacity: 0;
}

100
%
{
transform
:
translateY(
0
);
opacity
:
1;
}
}
@
keyframes moveDown { 0% {
	transform: translateY(-2rem);
	opacity: 0;
}

100
%
{
transform
:
translateY(
0
);
opacity
:
1;
}
}
@media ( max-width : 480px) {
	.menus {
		width: 100%;
	}
	.menu {
		width: 100%;
	}
	.item_name, .item_desc {
		font-size: small;
	}
	.item_details i {
		padding: 1px;
		width: 1.1rem;
	}
}